<!DOCTYPE HTML>
<html ng-app="app">
    <head>
        <title>Unit Testing with Angular</title>
    </head>
    <body>
        <div ng-controller="appCtrl as app">
            <item-container ng-if="app.items" items="app.items">
            </item-container>
        </div>
        <% vendor_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="vendor/<%= dep %>"></script>
        <% }); %>

        <% src_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="src/<%= dep %>"></script>
        <% }); %>
    </body>
</html>
