<!DOCTYPE HTML>
<html ng-app="app">
    <head>
        <title>Unit Testing with Angular</title>
    </head>
    <body>
        <ui-view></ui-view>
        <% vendor_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="vendor/<%= dep %>"></script>
        <% }); %>

        <% src_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="src/<%= dep %>"></script>
        <% }); %>
    </body>
</html>
